@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(210, 100%, 56%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(210, 100%, 56%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    /*align-items: center;*/
    min-height: inherit;
  }
}
